# concat_fastqs
This notebook takes a list of FASTQ files that reprsent multiple sequencing runs of the same samples. It groups them by sample and tile, concatenates them, and saves the concatenated FASTQ.

Notebook Setup:

In [1]:
import pandas as pd

Paths:

In [4]:
samplelist = 'concat_fastq_samplelist.csv'
out_dir = 'concat_fastq_out/'

Load samplelist:

In [5]:
samples = pd.read_csv(samplelist)
display(samples)

,library,selection,tile,date,R1
0,wt,C6-36,all,220225,/shared/ngs/illumina/bloom_lab/220225_M04866_0...
1,lib1,C6-36,all,220225,/shared/ngs/illumina/bloom_lab/220225_M04866_0...
2,lib2,C6-36,all,220225,/shared/ngs/illumina/bloom_lab/220225_M04866_0...
3,lib3,C6-36,all,220225,/shared/ngs/illumina/bloom_lab/220225_M04866_0...
4,wt,C6-36,all,220415,/shared/ngs/illumina/bloom_lab/220415_M00492_0...
5,lib1,C6-36,all,220415,/shared/ngs/illumina/bloom_lab/220415_M00492_0...
6,lib2,C6-36,all,220415,/shared/ngs/illumina/bloom_lab/220415_M00492_0...
7,lib3,C6-36,all,220415,/shared/ngs/illumina/bloom_lab/220415_M00492_0...